{% extends "base.html" %}

{% block title %}
Recently Viewed Players
{% endblock %}

{% block content %}
<h1>Your Recently Viewed Players</h1>
<hr class="my-4">
{% if viewed_players %}
<ul>
    {% for player in viewed_players %}
    <li>
        <strong>{{ player.firstname }} {{ player.lastname }}</strong>
        <a href="{% url 'details' player.id %}">View Details</a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>You haven't viewed any players yet.</p>
{% endif %}

<a   href="{% url 'all_players' %}">Back to All Players</a><br>
<a    href="{% url 'user' %}">Back to User</a>

{% endblock %}
