{% extends "base.html" %}

{% block title %}
Recently Viewed Teams
{% endblock %}

{% block content %}
<h1>Your Recently Viewed Teams</h1>

{% if viewed_teams %}
<ul>
    {% for t in viewed_teams %}
    <li>
        <strong>{{ t.Competetion }}</strong> - {{ t.Competators }}
        <a class="nav-link" href="{% url 'team_details' t.id %}">View Details</a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>You haven't viewed any teams yet.</p>
{% endif %}

<a class="nav-link" href="{% url 'all_teams' %}">Back to All Teams</a>

<a class="nav-link" class="btn" href="{% url 'user' %}">Back to User</a>
{% endblock %}
