
{% extends "base.html" %}

{% block title %}
  Squad:
{% endblock %}
{% block nav_content %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'all_players' %}">All Players</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'all_teams' %}">All Teams</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'all_matches' %}">All Matches</a>
    </li>
    {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'user' %}"> User: <strong>{{ user.username }}</strong></a>
        
        </li>
        <li class="nav-item">
            <form method="post" action="{% url 'login:logout' %}" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-link nav-link">Logout</button>
            </form>
        </li>
      {% endif %}
{% endblock %}
{% block content %}

<h1>All Teams</h1>
<ul>
    {% for team in myteams %}
        <li>
            <a href="{% url 'team_details' team.id %}">
                <img src="{{ team.logo_url }}" alt="Logo for {{ team.Team_Name }}" style="width: 50px; height: 50px;">
                {{ team.Team_Name }}
            </a>
        </li>
    {% endfor %}
</ul>




{% endblock %}