
{% extends "base.html" %}

{% block title %}
  Squad:
{% endblock %}
{% block nav_content %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'all_players' %}">All Players</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'all_teams' %}">All Teams</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'all_matches' %}">All Matches</a>
    </li>
    {% if user.is_authenticated %}
        <li class="nav-item">
            <span class="nav-link">User: <strong>{{ user.username }}</strong></span>
        </li>
        <li class="nav-item">
            <form method="post" action="{% url 'login:logout' %}" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-link nav-link">Logout</button>
            </form>
        </li>
      {% endif %}
{% endblock %}
{% block content %}

<h1>All_teams</h1>
<ul>
  {% for x in myteams %}
  <li><a href="team_details/{{x.id}}">{{ x.Team_Name }}</a></li>
  {% endfor %}  
</ul>

{% endblock %}