body {
    background-image: url('/static/tlo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    background-color: rgba(0, 0, 0, 0.8); 
    color: white; 
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
    margin: 20px auto; 
}


a {
    text-decoration: none; 
    color: white; 
    transition: color 0.3s ease-in-out; 
}

a:hover {
    color: yellow; 
    text-decoration: none; 
}

