{% extends "base.html" %}

{% block title %}
  All Players
{% endblock %}

{% block content %}
<h1>All Players</h1>


<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link {% if request.path == '/all_players/' %}active{% endif %}" href="{% url 'all_players' %}">All Players</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.path == '/all_players/top-wins/' %}active{% endif %}" href="{% url 'top_wins' %}">By Wins</a>
    </li>

    <li class="nav-item">
        <a class="nav-link {% if request.path == '/all_players/by-position/' %}active{% endif %}" href="{% url 'by_position' %}">By Position</a>
    </li>

</ul>





{% if players|length > 0 and players.0.team %}
<p><a href="{% url 'team_details' players.0.team.id %}">Back to Team Details</a></p>
{% endif %}
{% endblock %}
