{% extends "base.html" %}

{% block title %}
  All players
{% endblock %}

{% block nav_content %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'all_players' %}">All Players</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'all_teams' %}">All Teams</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'all_matches' %}">All Matches</a>
    </li>
    {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'user' %}"> User: <strong>{{ user.username }}</strong></a>
        </li>
        <li class="nav-item">
            <form method="post" action="{% url 'login:logout' %}" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-link nav-link">Logout</button>
            </form>w
        </li>
        {% endif %}
{% endblock %}

{% block content %}
<h1>All Players</h1>
<ul>
   {% for player in players %}
    <li>
        <a href="{% url 'details' player.id %}">{{ player.firstname }} {{ player.lastname }}</a> - {{ player.position }}
    </li>
    {% endfor %}
</ul>


{% if players|length > 0 and players.0.team %}
<p><a href="{% url 'team_details' players.0.team.id %}">Back to Team Details</a></p>
{% endif %}
{% endblock %}