{% extends "base.html" %}

{% block title %}
Details about {{ myplayer.firstname }} {{ myplayer.lastname }}
{% endblock %}

{% block content %}
<h1>{{ myplayer.firstname }} {{ myplayer.lastname }}</h1>  
<p><strong>Position:</strong> {{ myplayer.position }}</p>
<p><strong>Date Of Birth:</strong> {{ myplayer.dateOfBirth }}</p>
<p><strong>Nationality:</strong> {{ myplayer.nationality }}</p>

{% if plot_path %}
    <h2>Player Statistics</h2>
    <img src="/static/{{ plot_path }}" alt="Statistics for {{ myplayer.firstname }} {{ myplayer.lastname }}" style="width: 600px; height: auto; border-radius: 8px; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);">
{% else %}
    <p>No statistics available for this player.</p>
{% endif %}


Go to Players in <a href="{% url 'team_players' myplayer.team.id %}"> {{ myplayer.team.Team_Name }}</a>
 
<br> Back to   <a href="{% url 'all_players' %}"> All Players</a>

</p>
{% endblock %}
