{% extends "base.html" %}

{% block title %}
  Players by Performance Stats
{% endblock %}

{% block content %}
<h1>Players By Performance Stats</h1>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'all_players' %}">All Players</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'top_market_value' %}">By Market Value</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'top_performance' %}">By Performance Stats</a>
    </li>
</ul>

<h3>Top Scorers (Goals > 10)</h3>
<ul>
   {% for player in top_scorers %}
    <li>{{ player.firstname }} {{ player.lastname }} - Goals: {{ player.goals }}</li>
   {% endfor %}
</ul>

<h3>Top Assisters (Assists > 5)</h3>
<ul>
   {% for player in top_assisters %}
    <li>{{ player.firstname }} {{ player.lastname }} - Assists: {{ player.assists }}</li>
   {% endfor %}
</ul>
{% endblock %}
