{% extends "base.html" %}

{% block title %}
  Match Details
{% endblock %}

{% block content %}
<h1>{{ mymatch.Competetion }}</h1>
<p><strong>Competitors:</strong> {{ mymatch.Competators }}</p>
<p><strong>Match Place:</strong> {{ mymatch.Match_Place }}</p>
<p><strong>Score:</strong> {{ mymatch.Score }}</p>
<p><strong>Status:</strong> {{ mymatch.Status }}</p>
<p><strong>Season:</strong> {{ mymatch.Season_Start_date }} to {{ mymatch.Season_End_date }}</p>
<a href="{% url 'all_matches' %}">Back to All Matches</a>
{% endblock %}